@model IEnumerable<TelefonRehberi>

@{
    ViewData["Title"] = "Index";
}

<h4>Telefon Rehberi : Kişiler</h4>
<hr />


<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Soyad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefon_Numarasi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fax_Numarasi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.E_Mail)
            </th>
            <th>
                <a asp-action="AddOrEdit" id="yeni_kayit" class="btn btn-outline-success"><i class="fa fa-plus-square"></i> Yeni Kişi Ekle</a>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Ad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Soyad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefon_Numarasi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fax_Numarasi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.E_Mail)
            </td>
            <td>
                    <a asp-action="AddOrEdit" asp-route-id="@item.RehberId"><i class="fa fa-marker fa-lg"></i></a> |
                
                    <a asp-action="Delete" asp-route-id="@item.RehberId" class="text-danger ml-1" onclick="return confirm ('Bu Kaydı Silmek İstediğinizden Emin Misiniz?' )"><i class="fa fa-trash-alt fa-lg"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
